/* OVERALL */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#flex-container{
    width: 100%;
    height: 100%;

}

[id*='row']{
    width: 100%;
    height: 20lvh;
    

}


#row01 , #row02{

    height: 50lvh;
}

#row01{
    background-color: #1F2937;
    color: #E5E7EB;
}

/* ROW 1*/
#header-nav{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    height: 10%;
    align-items: center;
}
/* NAV */
#header-nav p{
    margin: 0;
    font-size: 24px;
}


#header-nav ul{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#header-nav li{
    display: inline-block
   
}

/* CONTENT */
h1{
    font-size: 48px
}

#content{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 90%;
    align-items: center;
    font-size: 18px
}

#header-image{
  background-image: url("https://placehold.co/2000x600");
  width: 70%;
  height: 50%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  
}

#text{
    width: 30%;
    height: 50%;
}

#text h1{
    margin: 0;
}

#button{
    color: #E5E7EB;
    background-color: #3882F6;
    height: 20%;
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ROW 2 */
#row02-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 3%;
}
#row02-container h2{
    font-size: 36px;
}

#box-container{
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-top: 25px;
}

[id*='box0']{
    width: 150px;
    height:150px;
    border: 2px solid #3882F6;
    border-radius: 9px;
}

[class*="box-col"]{
    width: 150px;
    height:150px;
    text-align: justify;
}

/* ROW 3 */

#row03{
    height: 50lvh;
   background-color: #E5E7EB;
}

#citation{
    width: 100%;
    height: 100%;
    font-size: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#citation cite{
    width: 50%;
}

#citation p{
    position: absolute;
    bottom: 15%;
    right: 27.5%;
    font-size: 36px;
}

/* ROW 4 */
#row04{
height:   40lvh;
display: flex;
justify-content: center;
align-items: center;
}

#callToAction {
    width: 50%;
   border: 2px solid ;
   height: 35%;
   border-radius: 15px;
   display: flex;
   color: white;
   background-color: #3882F6;
}

#callToAction p, h2{
   margin: 0;
}

#signUP{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text1{
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


#button1{
    color: #E5E7EB;
    background-color: #3882F6;
    height: 20%;
    width: 80%;
    border-radius: 5px;
    border-color: white;
    text-align: center;
    padding: 3px;
    border: #E5E7EB 2px solid;
}

/* ROW 5 */
#row05{
    display: flex;
    height: 10lvh;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}